button {
    font-family: inherit;
    font-size: 1em;
}

table.list {
    border-collapse: collapse;
    margin: 10px auto;
}

table.list caption {
    font-size: 20px;
}

table.list th {
    text-align: left;
    padding-left: 10px;
}

table.list, table.list td {
    border: 2px solid black;
}

table.list td {
    padding: 4px 20px;
}

table.list.single tbody tr:nth-child(2n+1) {
    background-color: #eee;
}

table.list td.pr-status-ukn {
    background-color: #ccc;
}

table.list td.pr-status-missing {
    background: repeating-linear-gradient(
        67.5deg, #666 0 10px, #ddd 10px 20px
        )
}

table.list td.pr-status-multi {
    background: repeating-linear-gradient(
        67.5deg, darkgreen 0 10px, green 10px 20px
        )
}

table.list td.mono {
    font-family: DejaVu Sans Mono, mono;
    padding: 4px 10px;
}

table.list.upgrades tbody tr.issue-upgrade {
    background-color: lightgreen;
}
