button {
    font-family: inherit;
    font-size: 1em;
}

table.list {
    border-collapse: collapse;
    margin: 10px auto;
    width: 90%
}

table.list caption {
    font-size: 20px;
}

table.list th {
    text-align: left;
    padding-left: 10px;
}

table.list, table.list td {
    border: 2px solid black;
}

table.list td {
    padding: 4px 16px;
}

table.list td.acks,
table.list td.pr,
table.list td.up {
    background-color: white;
}

table.list.single tbody tr:nth-child(2n+1) {
    background-color: #eee;
}

table.list td.pr-status-unknown,
table.list td.pr-status-unstable,
table.list td.pr-status-blocked {
    background-color: orangered;
}

table.list td.all-acks,
table.list td.pr-status-clean {
    background-color: forestgreen;
}

td.pr-status-unknown > a,
td.pr-status-unstable > a,
td.pr-status-blocked > a,
td.pr-status-clean > a {
    color: black;
}

table.list td.mono {
    font-family: mono, DejaVu Sans Mono;
    padding: 4px 10px;
}

table.list.upgrades tbody tr.issue-component-upgrade {
    background-color: lightgreen;
}

/* column widths */
table.list td.summary {
    max-width: 800px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

table.list.single td.url {
    width: 8%;
}

table.list.single td.priority {
    width: 5%;
}

table.list.single td.status {
    width: 6%;
}

table.list.single td.type {
    width: 7%;
}

table.list.single td.acks {
    width: 8%;
}

table.list.single td.pr {
    width: 7%;
}

table.list.single td.up {
    width: 12%;
}

table.single td.type,
table.single th.type {
    display: none;
}

/*--*/
table.list td.url {
    width: 12%;
}

table.list td.priority,
table.list td.status,
table.list td.acks {
    padding: 4px 10px;
}

table.list td.type {
    width: 7%;
}

table.list td.acks {
    width: 12%;
}

table.list td.pr {
    width: 7%;
}

table.list td.up {
    width: 18%;
}
