.standalone .issue-type {
    display: none;
}

td.issue-name {
    max-width: 800px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap
}

.row-upgrade {
    background-color: var(--pf-global--palette--light-green-200);
}

td.issue-success {
    background-color: var(--pf-global--palette--light-green-400);
}

td.issue-fail {
    background-color: var(--pf-global--warning-color--100);
}

td.issue-success-fail {
    background: repeating-linear-gradient(
        45deg,
        var(--pf-global--palette--light-green-400),
        var(--pf-global--palette--light-green-400) 20px,
        var(--pf-global--warning-color--100) 20px,
        var(--pf-global--warning-color--100) 40px
    );
}
